p {
color:   black;
font-family: 'Times New Roman', Times, serif
}
h1 {
text-align: center;
font-family: 'Times New Roman', Times, serif
}
h2 {
text-align: center;
font-family: 'Times New Roman', Times, serif
}
img {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
}
.small {
font-weight: bold;
line-height: 0.7; 
}
.para1 {
margin: 20px 150px;
padding: 20px 150px;
}
.extra {
padding: 10px 0px 10px 0px
}
.cap {
text-align: center;
font-weight: bold;
}
ul.b {
list-style-type: square;
padding: 30px 20px
}